* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: wheat;
}

.background-grey-1 {
  background-color: #777;
}

.square {
  height: 200px;
  width: 200px;
  position: relative;

  /* background-color: #777; */
}

.animation-fill-mode-none {
  animation: moveBoxForward 5s ease-in 2s;
  animation-fill-mode: none;
}

.animation-fill-mode-forwards {
  animation: moveBoxForward 5s ease-in 2s;
  animation-fill-mode: forwards;
}
.animation-fill-mode-backwards {
  animation: moveBoxForward 5s ease-in 2s;
  animation-fill-mode: backwards;
}

.animation-fill-bottom-btn {
  animation: moveInBottom 1s ease-in 2s;
  animation-fill-mode: none;
}
.animation-fill-bottom-btn-backwards {
  animation: moveInBottom 1s ease-in 2s;
  animation-fill-mode: backwards;
}

@keyframes moveBoxForward {
  0% {
    opacity: 0;
    left: 0%;
  }

  100% {
    opacity: 1;
    left: 80%;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
