body {
  padding: 50px;
}

.button {
  font-size: 20px;
  color: white;
  background-color: blue;
}

a {
  background-color: purple;
  /* background-color: purple !important; */
}

#nav div.pull-right a.button {
  background-color: orangered;
}

#nav div.pull-right a.button:hover {
  /* added to overcome the specifity cos hover was not gettiong applied */
  background-color: green;
}

#nav a.button:hover {
  /* does not get appplied becuase the one before has a higher speficifity */
  background-color: yellow;
}
