/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* root font size is set in thehtml selector */
  font-size: 10px;
}

body {
  color: #777;
  font-family: "Lato", sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
}

.btn:link,
.btn:visited {
  display: inline-block;

  border-radius: 10rem;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.3rem); /* negative takes it up*/
}

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.1rem);
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; /* button starts off visible making a wonky animation. sow e add the animation fil mode to start it at the last animation eg at 100% and not 0% */
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  display: inline-block; /* the after is treated like a child of the element */

  border-radius: 10rem;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  /* transform: scale(1.5);  increases the element so we double it here */
  transform: scaleX(1.4) scaleY(1.6); /* increases the element so we double it here */
  opacity: 0;
}

.d-block {
  display: block;
}

.header {
  background-image: linear-gradient(to right, #80d671cc, #27b485cc),
    url(../img/hero.jpg);
  background-position: top; /* the top of the image always stays on top of the container. the bottom will get cropped but the top wonr */
  background-size: cover; /* fit the image to the size fo the width */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); /*x y*/
  height: 95vh;
  position: relative;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; /* hack to fix some quirky animation see min 12 on course but it somehow fixes the shaking*/
  margin-bottom: 6rem;
}

.heading-primary-main {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 3;
  animation-timing-function: ease-out; /* slower at the end */
}

.heading-primary-sub {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;

  animation: moveInRight 1s ease-in; /* slower at the beginning */
}

.logo {
  height: 3.5rem;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.text-box {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* /// browsers are optimized with anumating opacity and transform */
